.slot_wrapper {
  border: 1px solid #378760;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 48px;
  min-height: 48px;
  padding: 8px 12px;
  border-radius: 10px;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.selected_slot {
  background-color: #378760;
  background-position: left bottom;
  justify-content: space-between;
  max-height: 48px;
  min-height: 48px;
}

.left {
  color: #378760;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.selected_text {
  color: #fff;
}
