.right_top_heading {
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  color: #555770;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.right_top_heading {
  font-size: 16px;
  text-align: center;
}
